.main-footer {
    flex-shrink: 0;
    background-color:var(--color-footer-backround);
    color: white;
    text-align: center;
    padding: 15px;
    width: 100%;
    font-size: 8px;
}

.footer-content a {
    color: white;
    text-decoration: underline;
}