body{
    background-image: url('d876125c31bf48fca36ecadebb19b551.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    height: 100vh; 
    background-attachment: fixed;
    font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  height: 100vh;
}
:root{
    --color-backround: rgb(57, 114, 139);
    --color-second: rgb(47, 65, 117);
    --color-text-primary:rgb(214, 237, 247);
    --color-footer-backround: rgba(108, 115, 84, 0.729);
    --color-text-main: rgb(38, 105, 133);
    --colot-block-main:rgba(214, 237, 247, 0.634);
 
}